Django>=3.2.4,<3.3.0
djangorestframework>=3.12.4,<3.13.0
mssql-django>=1.3,<2.0
postgres>=4.0,<5.0
psycopg2-binary>=2.9.9,<3.0
drf-spectacular>=0.15.1,<0.16.0
django-cors-headers>=4.1.0,<4.2.0
django-rest-auth>=0.9.5,<1.0
djangorestframework-simplejwt>=5.2.2,<5.3.0
django-allauth>=0.54.0,<0.55
djangorestframework-camel-case>=1.4.2,<1.5.0
django-environ>=0.11.2,<0.12
django-sesame>=3.2.2,<3.3
websockets>=12.0,<13.0

country-list>=1.0.0,<1.1.0

ptvsd>=4.3.2,<4.4.0

pdf2image>=1.16.3,<1.17.0
PyPDF2>=3.0.1,<3.1
pdfminer>=20191125
pymupdf>=1.23.26,<1.24
#pymupdf>=1.19.5,<1.20
pyzbar>=0.1.9,<0.2

Pillow>=10.0.0,<11.0.0

django-apscheduler>=0.4.1,<0.5

opencv-python>=4.6.0.66,<4.7
python-bidi>=0.4.2,<0.5
reportlab>=4.0.5,<4.1
lxml>=4.9.3,<4.10

python-doctr>=0.7.0,<0.8
matplotlib>=3.8.0,<3.9
torch>=2.1.0,<2.2
rapidfuzz>=3.4.0,<4.0
python-doctr>=0.7.0,<0.8
torchvision>=0.16.0,<0.17

drf-extra-fields>=3.7.0,<3.8

pytesseract>=0.3.10,<0.4

Werkzeug>=3.0.1,<3.1

jinja2>=3.1.2,<3.2

natsort>=8.4.0,<9.0

paddleocr>=2.7.0.3,<2.8
paddlepaddle>=2.5.2,<2.6
APScheduler>=3.10.4,<3.11
google-api-python-client>=2.108.0,<2.109

imutils>=0.5.4,<0.6

#six>=1.16.0,<1.17
#numpy>=1.26.2,<1.27
#packaging>=23.2,<24.0
#requests>=2.31.0,<2.32
#sympy>=1.12,<1.13
#decorator>=5.1.1,<5.2
#inflection>=0.5.1,<0.5.2
# PyTAML>=6.0.1,<6.1
#httpx>=0.25.2,<0.26
#opt_einsum>=3.3.0,<3.4
#astor>=0.8.1,<0.9
#shapely>=2.0.2,<2.1
#pyclipper>=1.3.0,<1.4
#scikit-image>=0.22.0,<0.23
#imgaug>=0.4.0,<0.5
#lmdb>=1.4.1,<1.5
#tqdm<=4.66.1,<4.67
#markupsafe>=2.1.3,<2.2
#defusedxml>=0.7.1,<0.8
#unidecode>=1.3.7,<1.4
#mplcursors>=0.5.2,<0.6
#weasyprint>=60.1,<61.0

