h1.logo {
    text-align: center;
    margin: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

button.btn {
    font-family: 'Oswald', sans-serif;
}

div {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Merriweather', serif;
}