.parsersH1 {
    padding: 10px 0 0 0;
    text-align: center;
    text-decoration: underline;
}

.parsersUl {
    padding: 10px 10px;
    margin: 0;
}

.parsersUl li {
    border: 3px solid #E31A2F;
    border-radius: 6px;
    margin: 10px 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    float: left;
    cursor: pointer;
    position: relative;
}

.parsersUl li:hover {
    border: 3px solid #E31A2F;
}

.parsersUl li.addParserLi {
    border: 3px dotted #E31A2F;
}

.parserName {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 114px;
}

.parserName span {
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.parserSettingActions {
    position: absolute;
    right: 5px;
    top: 5px;
}

.documentsQueueTabWrapper {
    width: 100%;
}

.parsersIcon {
  display: inline-block;
  color: #E31A2F;
  line-height: 52px;
  vertical-align: top;
}

.uploadBoxWrapper {
  width: 100%;
  padding: 10px;
}

.uploadBox {
  width: 100%;
  padding: 10px;
  border: 3px dotted #E31A2F;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.uploadBox p {
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left-wrapper {
  padding: 10px;
}

.right-wrapper {
  padding: 10px;
}

.header {
  color: #000;
}

.logoDiv {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

@media only screen and (min-width: 576px) {
  .logoDiv {
  }
}

.h1.parserH1 {
  font-size: 150%;
  line-height: 52px;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
}

.nav {
  float: right
}

.nav ul {
  float: right;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.nav ul li {
  display: inline-block;
  line-height: 52px;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

@media only screen and (min-width: 576px) {
  .nav ul li {
  }
}

.headerHr {
  border-top: 3px solid #000;
  margin: 0 0 0 0;
  opacity: 1.0;
}

.tools {
  width: 100%;
  position: fixed;
  z-index: 1000;;
}

.toolsBtn {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 80%;
  float: left;
}

.react-transform-wrapper {
  width: auto !important;
  height: auto !important;
}

.react-transform-component {
  width: auto !important;
  height: auto !important;
  border: 1px solid #000;
}

.main {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 122px)
}

.pageText {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: auto;
  font-size: 100%;
  flex: 3;
}

.streamTableDiv {
  width: 100%;
}

.streamTable {
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
  box-shadow: 4px 4px 14px -8px rgb(0 0 0 / 75%);
  border: 1px solid #0d2434;
  width: 100%;
}

.streamTable th {
  border: 1px solid #0d2434;
  padding: 10px;
  color: #0d2434;
  min-height: 45px;
  height: 45px;
  vertical-align: middle;
  white-space: pre-wrap;
}

.streamTable td {
  border: 1px solid #0d2434;
  padding: 10px;
  color: #0d2434;
  min-height: 45px;
  height: 45px;
  vertical-align: middle;
  white-space: nowrap;
}

.chatMessages {
  position: relative;
  background-color: lightblue;
  overflow: auto;
  font-size: 90%;
  flex: 2;
}

.talkBubble {
	margin: 20px;
  display: inline-block;
  position: relative;
	width: 80%;
	height: auto;
	background-color: lightyellow;
}

.talkKeyToValue {
  overflow-wrap: break-word;
  font-weight: bold;
}

.talkKeyToValue .talkValue {
  font-weight: normal;
}

.talkActionDiv {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.border{
  border: 3px solid #666;
}

.talktext {
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
  min-height: 40px;
}
.talktext p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.triRight.border.btmLeft:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 15px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 10px solid;
	border-color: #666 transparent transparent #666;
}

.triRight.btmLeft:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 13px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 10px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

.triRight.border.btmRightIn:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 15px;
	bottom: -20px;
	border: 10px solid;
	border-color: #666 #666 transparent transparent;
}

.triRight.btmRightIn:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 15px;
	bottom: -20px;
	border: 10px solid;
	border-color: #666 #666 transparent transparent;
}

.actions {
  position: static;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}

.chatTextfield {
  display: flex;
  flex-direction: row;
}

.footer {
  border-top: 3px solid #000;
}

.copyright {
  font-family: Merriweather Sans, sans;
  font-weight: bold;
  padding: 0 0;
}

.sidebarResizer {
  width: 3px;
  background: #000;
  cursor: col-resize;
}

.sidebarResizer:hover {
  width: 8px;
  background: #000;
}

