html {
  min-height: 100vh;
  height: 100%
}

body {
  min-height: 100vh;
  height: 100%
}

a {
  color: unset;
}

#__next {
  min-height: 100vh;
  height: 100%
}

h1 {
  font-family: Oswald, sans;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-family: Oswald, sans;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 52px;
  display: inline-block;
}

div, p {
  font-family: Merriweather Sans, sans;
}

.row {
  --bs-gutter-x: 0;
}

button.btn {
  font-family: Merriweather Sans, sans;
  /*margin-bottom: 10px;*/
}

.table-bordered > :not(caption) > * {
  border-width: 1px 1px;
}

.table-bordered > :not(caption) > * > *.form-control {
  border-width: 1px 1px;
}

.table > tr > th,
.table > tr > td {
  padding: 10px;
}

.table > :not(caption) > * > *.btn-primary {
  background-color: #0d6efd;
}

.table > :not(caption) > * > *.btn-danger {
  background-color: #dc3545;
}

.hamburger-menu {
  line-height: 88px;
  font-size: 150%;
  display: none;
}

@media only screen and (max-width: 992px) {
  .hamburger-menu {
    display: block;
  }
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  font-weight: bold !important;
}

.formErrorMessage {
  color: red;
  padding: 5px;
}

.formErrorSummaryMessage {
  color: red;
  padding: 5px;
}

.formSuccessMessage {
  color: green;
  padding: 5px;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade:not(.show) {
  display: none !important;
}

.ag-header-cell {
}

.ag-cell {
  overflow: visible;
}

.dropdown-item {
  padding: 10px;
}

.ReactCrop__child-wrapper {
  cursor: auto;
}

.form-label {
  padding: 10px 10px 10px 0;
  margin-bottom: 0;
}

.form-control {
  padding: 10px;
}

.form-check {
  padding: 10px 10px 10px 0;
}

.form-check .form-check-input {
  margin-left: 0;
  margin-right: 10px;
}

.errorMessage {
  color: #E31A2F;
}

.react-draggable {
  transform: translate(0.1px, 0px);
  height: 100%;
  background: yellow;
  width: 10px;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.react-select__control {
  height: 46px;
}

.modal-dialog {
    width: 80%;
    max-width: unset;
}

h2.accordion-header {
  width: 100%;
  margin-left: 0;
  font-family: Merriweather Sans, sans;
  line-height: 28px;
}

.w-tc-editor-text::placeholder {
  color: #fff;
}

.react-transform-wrapper {
  cursor: grab;
}

.react-transform-component {
  border: 1px solid #000;
  cursor: grab;
}

.left {
  float: left;
}

.right {
  float: right;
}

.talk-table-div {
  overflow-x: auto;
}

.talk-table th, .talk-table td {
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid #000;
}

.anchorReactCrop .ReactCrop__crop-selection {
  background: rgba(255, 0, 0, 0.2);
}