html {
  min-height: 100vh;
  height: 100%
}

body {
  min-height: 100vh;
  height: 100%
}

a {
  color: unset;
}

#__next {
  min-height: 100vh;
  height: 100%
}

h1 {
  font-family: Oswald, sans;
  font-weight: bold;
  margin-bottom: 0;
}

div, p {
  font-family: Merriweather Sans, sans;
}

.row {
  --bs-gutter-x: 0;
}

button.btn {
  font-family: Merriweather Sans, sans;
  /*margin-bottom: 10px;*/
}

.hamburger-menu {
  line-height: 88px;
  font-size: 150%;
  display: none;
}

@media only screen and (max-width: 992px) {
  .hamburger-menu {
    display: block;
  }
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  font-weight: bold !important;
}

.formErrorMessage {
  color: red;
  padding: 5px;
}

.formErrorSummaryMessage {
  color: red;
  padding: 5px;
}

.formSuccessMessage {
  color: green;
  padding: 5px;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade:not(.show) {
  display: none !important;
}

.ag-header-cell {
}

.ag-cell {
  overflow: visible;
}

.dropdown-item {
  padding: 10px;
}