.h1 {
  padding: 10px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

.parsersUl {
  padding: 0 0;
  margin: 0;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.parsersUl li {
  border: 3px solid #e31a2f;
  border-radius: 6px;
  margin: 10px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.parsersUl li:hover {
  border: 3px solid #e31a2f;
}

.parsersUl li.addParserLi {
  border: 3px dotted #e31a2f;
}

.parserName {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 114px;
}

.parserName span {
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.parserActions {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.documentsQueueTabWrapper {
  width: 100%;
}
