.h1 {
    padding: 10px 0 0 0;
    text-align: center;
    text-decoration: underline;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.actionsDiv {
    margin: 10px 0 0 0;
    padding: 0 10px;
}

.actionBtn {
    margin-bottom: 0 !important;
}

.agGridDiv {
    flex-grow: 1;
    padding: 0 10px;
}