.wrapper {
  margin: auto;
  width: 600px;
  max-width: 90%;
  padding: 40px;
}

.form {
  margin: 40px auto;
  border: 3px solid #000;

}

.backBtn {
  font-size: 200%;
  cursor: pointer;
}

.h1 {
  color: #000;
}

.col {
  padding: 10px;
}

.actions .btn {
  margin-right: 10px;
}

.signUpBtn {
  display: inline-block;
}

.signInBtn {
  display: inline-block;
}

.btn {
  display: inline-block;
}