.splittingWrapper {
    padding: 10px;
    width: 100%;
}

.firstPageSplitting {

}

.firstPageSplittingConditions {
    display: inline-block;
}

.firstPageSplittingCondition {
    display: inline-block;
    margin : 10px 0;
    line-height: 24px;
}

.firstPageSplittingIf {
    padding: 5px 5px 5px 0;
}

.firstPageSplittingAnd {
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #333;
    clear: right;
    display: inline-block;
}

.firstPageSplittingRuleName {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.firstPageSplittingOperator {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.firstPageSplittingValue {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.firstPageSplittingThen {
    padding: 5px;
}

.firstPageSplittingRouter {
    padding: 10px 0;
}

.firstPageSplittingRouteTo {
    
}

.firstPageSplittingParser {
    font-weight: bold;
}

.firstPageSplittingRouteSkipPages {
    
}

.firstPageSplittingActions {
    
}

.consecutivePageSplitting {

}

.consecutivePageSplittingConditions {
    display: inline-block;
}

.consecutivePageSplittingCondition {
    display: inline-block;
    margin : 10px 0;
}

.consecutivePageSplittingIf {
    padding: 5px 5px 5px 0;
}

.consecutivePageSplittingRuleName {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.consecutivePageSplittingOperator {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.consecutivePageSplittingValue {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.consecutivePageSplittingThen {
    padding: 5px;
}

.consecutivePageSplittingRouter {
    padding: 10px 0;
}

.consecutivePageSplittingRouteTo {
    
}

.consecutivePageSplittingParser {
    font-weight: bold;
}

.consecutivePageSplittingActions {
    margin-bottom: 10px;
}

.lastPageSplitting {

}

.lastPageSplittingConditions {
    display: inline-block;
}

.lastPageSplittingCondition {
    display: inline-block;
    margin : 10px 0;
}

.lastPageSplittingIf {
    padding: 5px 5px 5px 0;
}

.lastPageSplittingRuleName {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.lastPageSplittingOperator {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.lastPageSplittingValue {
    margin: 0 5px;
    padding: 5px;
    border: 3px solid #333;
}

.lastPageSplittingThen {
    padding: 5px;
}

.lastPageSplittingRouter {
    padding: 10px 0;
}

.lastPageSplittingRouteTo {
    
}

.lastPageSplittingParser {
    font-weight: bold;
}

.lastPageSplittingActions {

}

.parserSelect {
    margin-bottom: 10px;
}